body {
    font-family: sans-serif;
    line-height: 1.6;

    display: grid;
    grid-template-columns: 20ch auto;
    grid-gap: 1em;
    grid-template-areas:
        "left right";
}
#services .missing {
    color: #800;
}
.uuidPip {
  margin-left: 0.25ch;
  border-radius: 2ch;
  border: 1px solid #ccc;
}
h1 {
    font-family: serif;
}
table {
    font-family: monospace;
}
th { text-align: left; }
td,th { padding-right: 1ch; border: 1px solid #ccc; }
tr:nth-last-of-type(2n) {
    background-color: #eee;
}
body > nav {
    grid-area: left;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    line-height: 2;
}
nav ul li a {
    text-decoration: none;
    padding: 0.5ch;
    display: block;
    color: #000;
    background-color: #ccc;
}
nav ul li a:focus {
    text-decoration: underline;
}
nav ul li a.current {
    color: #000;
    background-color: #fff;
}

body > section {
    grid-area: right;
}